* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* estilos Generales */
h2,
h3 {
    color: aliceblue;
    font-weight: 400;
    padding-top: 5%;
    font-size: 20px;
}
h2 {
    font-size: 25px;
}
/* estilos ELIGE */
.elige{
    background-image: url(../img/chuttersnap-B-BJ1Yg0RNw-unsplash.jpg);
    width: 100% ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   
    display: flex;
    justify-content: center;
    justify-items: center;
  
}
.contenido-elige  {
    background: rgba(73, 65, 65, 0.3);
    width: 80%;
    height: 85vh;
    margin-top: 15%;
    text-align: center;
   
}
img{
    display: block;
    width: 60%;
    padding-top: 10%;
    margin-left: 20%;

}


/* estilos seccion VENGADORES */
.oculto-categorias{
    background: rgb(155, 121, 121);
    height: 100vh;
    display: flex;
    text-align: justify;
    justify-content: center;
    justify-items: center;
    padding: 2em;
    

}
.preguntas-vengadores{
    margin-top: 1em;
}

/* estilos seccion LIGA DE LA JUSTICIA */

.oculto-categorias {
    display: none;
}